.color {
  box-shadow: 0px 8px 16px 0px rgba(17, 69, 59, 0.2);
}

.shadow {
  box-shadow: 0px 8px 16px 0px rgba(17, 69, 59, 0.2);
}

.hip {
  box-shadow: 0px 20px 48px 0px rgba(170, 170, 170, 0.29);
}

.box1 {
  box-shadow: -11px 0px 19px 0px rgba(23, 23, 23, 0.3),
    0px 13px 20px 0px rgba(23, 23, 23, 0.2);
}

.box {
  box-shadow: 0px 20px 48px 0px rgba(170, 170, 170, 0.29);
}

.hipo {
  box-shadow: 0px 8.871848106384277px 40.5570182800293px -2.534813642501831px rgba(24, 39, 75, 0.12),
    0px 5.069627285003662px 13.941474914550781px -3.802220582962036px rgba(24, 39, 75, 0.12);
}

@font-face {
  font-family: "Aeonik";
  src: url("./Component/Aeonik-/Aeonik-Light.otf") format("truetype");
}

@font-face {
  font-family: "MADE Mellow PERSONAL USE";
  src: url("./Component/MADEMellowPERSONALUSE-Medium.otf") format("truetype");
}
